.grid-preto{
  display: grid;
  background-color: black;
  height: 30rem;
  padding:1rem;
  gap:5rem;
  margin:0;
  
}

.texto-final{
  display: grid;
  color:gray;
  grid-column: 1;
  font-size: 2rem;
  margin:0;
  flex-wrap: wrap;
  max-width: 35rem;
}

.texto-final p{
  margin: 0;
}

.info-pessoais{
  display: grid;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  grid-column: 2;
  height: 100%;
  
}

.paragrafo-text-final{
  align-self: center;
}

.direitos-reservados{
  color:rgb(85, 84, 84);
  font-size: 1rem;
  /* justify-self: left; */
  align-self: end;
  margin: 0;
  padding: 0;

}


