body {
	margin: 0;
	font-family: inter;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:10px;	
	/*CENTRALIZA HEADER COM ESPACO ENTRE AS TAGS.
	COMO HÁ APENAS O H1 E A DIV, ELES FICAM NA POSICAO
	CORRETA.
	*/
}

.header-menu{
	display: flex;
	flex-wrap: wrap;
}

.grid1{
	/* position: relative; */
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	margin:1.5rem;
}

.imagem-lobo {
	display: grid;
	max-width: 22rem;
	justify-self: center;
}

.detalhe {
	position: absolute;
	/* height: 20%; */
	width: 10%;
	bottom: 18rem;
	left: 29rem;
	z-index: -1;
}

.titulo-2 {
	display: grid;
	font-size: 4rem;
	flex-wrap: wrap;	
	max-width: 16ch;
	margin:0;
	margin-left: 3rem;
	align-content: center;
	align-self: center;
	align-items: center;
}

.Localizado-no-rj{
	font-size: 2rem;
	display: grid;
	grid-column: 2;
	grid-row: 2;
	margin-left: 3rem;
}

.paragrafo{
	font-size: 1.7rem;
	color: rgb(128, 128, 128);
}

.div-titulo-experiencia{
	margin:0;
	align-self: start;
	opacity: 16%;
}

.titulo-experiencia {
	position: relative;
	word-break: break-all;
	display: grid;
	font-size: 8rem;
	text-align:left;
	max-width: 21rem;
	flex-wrap: wrap;
	justify-self: start;
	align-self: start;
	padding-left: 2.7rem;
}

.paragrafo span{
	color:black;
	font-weight: 700;
}

.detalhe-grid{
	height:3rem;
	width:3rem;
}

.detalhe-item{
	position: absolute;
	background-image: linear-gradient(to top, green,yellow );
	height: 1.5rem;
	width: 0.3rem;
	top: 1.5rem;
	left: -0.3rem;
}

.texto-detalhe-item{
	position: absolute;
	text-align: start;
	top: 0.7rem;
	left: -2.5rem;
}

.texto-maior-detalhe-item{
	position: absolute;
	text-align: start;
	top: 0.7rem;
	left: -4rem;
}

.grid-grid{
	position: relative;
	background-color: rgb(238, 238, 238);
	margin: 30px;
	justify-content: right;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 5px;
}

.grid-grid h3 {
	padding:10px;
}

.texto-experiencia .texto{
	display: flex;
	font-size: 1rem;
	color: rgb(128, 128, 128);
}

.grid-grid .texto{
	padding: 10px;
	justify-content: start;
	font-size: 1rem;
}

.grid-grid .lang{
	display: flex;
	grid-column: 2;
	padding:0;
	max-width: 35ch;
	flex-wrap: wrap;
}

.grid-grid .lang li{
	list-style: none;
	background-color: white;
	border-radius: 4px;
	margin: 6px;
	padding: 6px;
	justify-items:left;
	max-height: 15px;
	font-size: small;
}