@media(max-width: 1200px) {

  .grid1,
  .grid3 {
    /* display: flex; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */

  }

  .div-imagem-lobo {
    /* max-width:5rem; */

  }

  .imagem-lobo {
    max-width: 15rem;
  }

  .caixas-formacoes {
    display: flex;
    /* flex-wrap: wrap; */

  }

  .paragrafo-text-final {
    margin-left: 1rem;
  }

  .formacao {
    display: flex;
    justify-self: left;
  }
}

@media(max-width: 1100px) {
  .grid4 {
    display: flex;
  }

  .titulo-formacao {
    font-size: 6rem;
    /* flex-wrap: nowrap;
    word-break: keep-all; */
  }

  .paragrafo-text-final {
    margin-left: 1rem;
  }

  .texto-final {
    font-size: 1rem;
    display: flex;
    align-items: start;
    justify-self: center
  }

  .info-pessoais {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .info-pessoais p {
    display: flex;
    font-size: 1rem;
  }

  .grid-preto {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    max-height: 20rem;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .texto-final {
    align-items: start;
    justify-items: center;
  }

  .info-pessoais {
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
  }

  .direitos-reservados {
    align-items: end;
    justify-content: center;
  }

}

@media(max-width: 972px) {



  .titulo-formacao {
    font-size: 3rem;
    margin-left: 1rem;
    padding-left: 1rem;

  }

  .titulo-experiencia {
    font-size: 4rem;
    flex-wrap: wrap;
    width: 10rem;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  .texto-experiencia {
    padding-left: 0;

  }

  .paragrafo-text-final {
    margin-left: 1rem;
  }

  .texto-maior-detalhe-item,
  .texto-detalhe-item,
  .detalhe-item {
    display: none;
  }

  footer {
    height: auto;
  }

  footer p {
    justify-self: center;
  }
}

@media (max-width: 800px) {

  .imagem-lobo {
    display: none;
  }

  .texto-experiencia .paragrafo {
    max-width: auto;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid2 h1,
  p {
    margin: 0;
    text-align: justify;
    max-width: 29rem;
    justify-self: left;
  }

  .grid3 {
    height: auto;
  }

  .detalhe-item-formacoes {
    display: none;
  }

  .grid-grid p {
    text-align: left
  }

  .titulo-experiencia {
    display: grid;
    flex-wrap: nowrap;
    word-break: keep-all;
    margin: 0;
    padding: 0;
  }

  .div-titulo-experiencia {
    display: none;
    justify-content: center;
  }

  .titulo-formacao {
    display: none;
  }

  .grid4 {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
  }

  .texto-formacao {
    display: grid;
    /* max-width: 00px */
    justify-items: center;
  }

  .grid4 {
    margin: 0;
  }

  .caixas-formacoes {
    display: flex;
    justify-content: center;
  }

  .texto-final {
    font-size: 1.5rem;
  }

  .info-pessoais {
    display: flex;
    gap: 1rem;
  }

  .info-pessoais p {
    font-size: 1rem;
  }

  .direitos-reservados {
    font-size: 2rem;
    align-self: center;
  }

  .cursos-idiomas {
    display: grid;
    text-align: left;
    justify-content: start;
    justify-self: center;
    max-width: 500px;
  }

  .itens-cursos p {
    text-align: left;
  }

  .itens-cursos p {
    text-align: left;
  }

  .itens-idiomas h3::before {
    display: none;
  }

  .itens-idiomas p {

    text-align: left;
  }

  .grid-preto p {
    font-size: 1rem;
  }

  .caixas-formacoes {
    display: flex;
    text-align: left;
  }

  .div-titulo-formacao {
    display: none;
  }

  .margem-grid3 {}

}

@media (max-width: 651px) {
  header {
    display: flex;
    justify-self: center;
    padding: 0.1rem;
  }

  .grid1 {
    /* padding:1rem; */
    margin: 0.1rem;
  }

  .grid2 h1 {
    font-size: 2rem;
    margin: 1rem;
  }

  .grid2 p {
    font-size: 1.7rem;
    margin: 0;
    padding: 1rem
  }

  .texto-experiencia p {
    padding: 1rem;
    margin: 0;
  }

  .titulo-lobo {
    display: none;
  }



  .grid3 {
    display: grid;

    height: auto;
  }

  .margem-grid3 {
    margin: 0;
    padding: 0;
  }

  .grid4 {
    display: grid;
    margin: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .grid-preto {
    max-height: 20rem;
    padding: 1rem;
  }

  .caixas-formacoes {
    display: flex;
    max-width: 650;
    flex-wrap: wrap;
  }

  .texto-formacao {
    display: grid;
    max-width: 400px
  }

  .texto-formacao h1 {
    padding: 1rem;
    /* flex-wrap: wrap; */
  }

  .detalhe {
    display: none;
  }

  .detalhe-item-formacoes {
    /* display:none; */
  }

}

@media (max-width: 486px) {
  .grid2 h1 {
    margin: 0;
    padding: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin: 1rem;
  }

  .grid2 .titulo-2 {
    margin: 0;
  }

  .grid2 p {
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem
  }

  .texto-experiencia .paragrafo {
    font-size: 1.5rem;
    flex-wrap: wrap;
    max-width: 350px;
  }

  .texto-experiencia .grid-grid {
    display: grid;
    max-width: 300px;
    justify-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}